@import "bulma.min.scss";

.is-myhero {
  background-image: url("/images/hero.png");
  background-size: cover;
}

.container {
  &.is-spaced {
    // MEMO 横marginを変更すると、レイアウトが崩れる
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.nakami {
  text-align: center;
  margin: auto 1rem 4rem;
  img {
    width: 30%;
  }
  p {
    text-align: left;
    margin-bottom: 1rem;
  }
}
